.header{
    display: flex;
    justify-content: center ;
    
    height: 40px;
    border: 1px solid blue;
    background-color: #85688d; ;  
    text-align: center ;  
    gap: 50px;
    color: #fff;
}
.nav1{
   display: flex;
   text-align: center;
   background-color: #F7F6F2;
    justify-content: flex-end ;
      /* margin-left: 1200px; */
   gap: 50px;
   border: 1px solid blue;
   height: 35px;
   /* margin-right: 300px; */
}
.nav3{
    display: flex;
    gap: 10px;
}
.nav4{
    display: flex;
    justify-content: flex-start;
    height: 35px;
    margin-top: 10px;
    gap: 50px;
}
.nav5{
    border: 1px solid blue;
    align-items: center;
    height:50px;
    width: 200px;
    margin-left: 90px;
}
.nav5 img{
    margin-top: 10px;
}
.search1{
    width: 250px;
    margin-left: 500px;
    /* margi */
}
.search1:hover{
    width: 350px;
}